.sans-serif-normal {
  font-family: "sans-serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* styles nav section here */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
.nav-title {
  font-size: 28px;
  font-weight: 800;
  color: rgb(13, 19, 33);
}
.nav-btn {
  font-size: 20px;
  font-weight: 800px;
  color: rgb(13, 19, 33);
  width: 228px;
  height: 58px;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  padding: 17px 24px 17px 24px;
  opacity: 0.8;
}
/* styles developar background section here */
.developer-background {
  height: 652px;
  margin: 0 0;
  background-image: url(../Assignment-One/assets/Hero-bg.png);
}
.developer {
  max-width: 998px;
  height: 582px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.developer-img {
  width: 240px;
  height: 240px;
  margin: 0 auto;
  align-content: center;
  margin-bottom: 32px;
}
.developer-title {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 24px;
  line-height: 50px;
}
.developer-text {
  font-size: 14px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
  text-transform: capitalize;
  opacity: 0.7;
  margin-bottom: 32px;
  line-height: 18px;
}
.developer-btn {
  background-color: rgb(13, 19, 33);
  border-radius: 8px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-decoration: none;
}
/* styles web section here */
.web {
  max-width: 1140px;
  height: 1393px;
  margin: 0 auto;
  margin-top: 75px;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  border: 1px solid red;
}
.benefit {
  max-width: 946px;
  height: 1233px;
  position: static;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.web-development {
  width: 852px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
}
.development-title {
  font-size: 32px;
  font-weight: 600;
  color: rgb(13, 19, 33);
  text-align: center;
  margin-bottom: 24px;
}
.development-text {
  font-size: 16px;
  font-weight: 400;
  color: rgb(13, 19, 33);
  text-align: center;
  text-transform: capitalize;
  line-height: 25px;
  opacity: 0.7;
}
.coding {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 0;
  margin-top: 48px;
  position: static;
  border: 1px solid red;
}
.coding-one {
  width: 850px;
  height: 240px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.coding-text {
  width: 477px;
  height: 219px;
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  border: 1px solid red;
  margin-right: 40px;
}
.coding-img {
  width: 274px;
  height: 240px;
  position: absolute;
  border: 1px solid red;
  margin-left: 576px;
}
.creating {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 0;
  margin-top: 32px;
  position: static;
  border: 1px solid red;
}
.creating-one {
  width: 850px;
  height: 240px;
  padding: 0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}
.creating-img {
  width: 240px;
  height: 240px;
  position: absolute;
  border: 1px solid red;
  margin-right: 610px;
}

.changing {
  width: 946px;
  height: 336px;
  padding: 48px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 0;
  position: static;
  border: 1px solid red;
}
.changing-one {
  width: 850px;
  height: 240px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.changing-img {
  width: 240px;
  height: 240px;
  position: absolute;
  border: 1px solid red;
  margin-left: 610px;
}
.coding-text h3 {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
  margin-bottom: 16px;
}
.coding-text p {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}
.coding-text button {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  width: 171px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
/* styles video section here */
.video {
  max-width: 1140px;
  height: 775px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}
.video-text {
  width: 852px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  border: 1px solid red;
}
.video-text h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 24px;
}
.video-text p {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
.main-video {
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
  margin-top: 48px;
}
.iframe {
  border-radius: 16px;
}
/* styles target section here */
.target {
  max-width: 1140px;
  height: 460px;
  margin: 0 auto;
  margin-top: 151px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}
.target-text {
  width: 946px;
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid red;
}
.target-text h2 {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 24px;
}
.target-text p {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
.target-item {
  width: 1140px;
  height: 299px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border: 1px solid red;
  margin-top: 48px;
}
.item-one {
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 76, 30, 0.05);
}

.item-two {
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(0, 76, 232, 0.05);
}
.item-three {
  width: 364px;
  height: 299px;
  padding: 40px;
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}
.item-text {
  width: 284px;
  height: 219px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
}
.item-text h3 {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 8px;
  margin-top: 24px;
}
.item-text p {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 24px;
}
.item-text a {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.support {
  max-width: 1140px;
  height: 313px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
  border: 1px solid red;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(../Assignment-One/assets/handshake.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.support-content {
  width: 1044px;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 1px solid white;
}
.support-text {
  width: 730px;
  height: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 1px solid white;
  margin-bottom: 24px;
}

.support-text h2 {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-align: center;
}
.support-text p {
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
  text-align: center;
  margin-top: 16px;
}
.support-form {
  width: 684px;
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border: 1px solid white;
}
.support-form input[type="text"] {
  width: 548px;
  height: 57px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 19px 20px 19px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgba(13, 19, 33, 0.4);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.support-form input[type="submit"] {
  width: 120px;
  height: 57px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 20px 17px 20px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
/* style footer section here */
footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 32px 150px 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid red;
}
.contact {
  width: 1140px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  border: 1px solid red;
}
.contact-text p {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.contact-icon {
  width: 158px;
  height: 36px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: right;
  gap: 24px;
}
.contact-text p {
  color: rgb(13, 19, 33);
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
